@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}
<div class="page about-page">
    <div class="page-body">
      
<!-- Title & BreadCrumbs -->
<section class="mtop">
	<section class="container-fluid container">
		<section class="row-fluid">
<!-- Page Title -->

		<section id="donation_box">
			<section class="container container-fluid">
				<section class="row-fluid">
				<figure class="span12">
					<h2> About </h2>
				</figure>
				</section>
			</section>
		</section>
		
		
		
<!-- end of Page Title -->
		</section>
		<section class="row-fluid">
			<!-- BreadCrumbs -->
				<figure id="breadcrumbs" class="span12">
					<ul class="breadcrumb">
					<li><a href="@Request.Url.GetLeftPart(UriPartial.Authority)">Home</a> <span class="divider">/</span></li>
					<li class="active">About Us</li>
					</ul>
				</figure>
			<!-- End of breadcrumbs -->
		</section>
	</section>
</section>
<!-- End of Tile & Breadcrumbs -->

<!-- Page Content Container -->
<section id="content" class="mbtm about">
	<section class="container-fluid container">
	
		<section class="row-fluid">
			<section class="span12 first mbtm2 outer_lyr">
				<section class="inner_lyr">
					<h3 class="heading1 bg-div"> <span class="inner">	<strong> What is Fertility Alkaline Water? </strong>	<span class="bgr1"></span>	</span> 	</h3>
					<section class="section_content"> 
						<div class="span12"> 
                        <p>After 7 years of testing Fertility Alkaline water was created with the correct Ph level. Alkaline water has the ability to help the ambionic fluid during pregnancy maintain its optimal ph level of 7.635. Alkaline water has a ph level of 7.8</p>							
						<p>1 out of 5 couples go through fertility problems. Alkaline Water gives women struggling with fertility a chance at becoming fertile. If taken for 90 days, though, not guaranteed Fertility Water does/ can assist in removing cysts, morning sickness, constipation, headaches, weight loss, clean blood, and blood clots. Fertility Water also helps detox the body by cleaning out impurities and helps flush the urinary tract system. Alkaline water can/ is known to re-hydrate the body in 15 minutes. Can help with ulcers and gastrointestinal influx disease.</p>
                        </div>
					</section>
					
					</section>
			
			</section>
		@*	<section id="offices_slider_warpper"	class="span12 mbtm2 first">
					<h3 class="heading1 bg-div">
					<span class="inner">	<strong> Our Team</strong>	<span class="bgr1"></span>	</span>
					</h3>
				
				<figure class="team_member span4 first">
					<div class="member_img">
						<img src="images/exective1.jpg" alt="Team Member" />
					</div>
					<div class="team_member_description">
						<h5>  Adrian Steve </h5>
						<span class="mem_desig"> Founder </span>
				
							<figure class="n_social"> 
								<a href="#"> <i class="icon-facebook"></i> </a> 
								<a href="#"> <i class="icon-twitter"></i> </a> 
								<a href="#"> <i class="icon-google-plus"></i> </a> 
								<a href="#"> <i class="icon-linkedin"></i> </a> 
								<a href="#"> <i class="icon-pinterest"></i> </a> 
							</figure>
				
					</div>
				</figure>

				
				<figure class="team_member span4">
					<div class="member_img">
						<img src="images/exective2.jpg" alt="Team Member" />
					</div>
					<div class="team_member_description">
						<h5>  Willaim Kite </h5>
						<span class="mem_desig"> Co-Director </span>
				
							<figure class="n_social"> 
								<a href="#"> <i class="icon-facebook"></i> </a> 
								<a href="#"> <i class="icon-twitter"></i> </a> 
								<a href="#"> <i class="icon-google-plus"></i> </a> 
								<a href="#"> <i class="icon-linkedin"></i> </a> 
								<a href="#"> <i class="icon-pinterest"></i> </a> 
							</figure>
				
					</div>
				</figure>

				
				<figure class="team_member span4">
					<div class="member_img">
						<img src="images/exective3.jpg" alt="Team Member" />
					</div>
					<div class="team_member_description">
						<h5>  Eli Stefen </h5>
						<span class="mem_desig"> Marketing Director </span>
				
							<figure class="n_social"> 
								<a href="#"> <i class="icon-facebook"></i> </a> 
								<a href="#"> <i class="icon-twitter"></i> </a> 
								<a href="#"> <i class="icon-google-plus"></i> </a> 
								<a href="#"> <i class="icon-linkedin"></i> </a> 
								<a href="#"> <i class="icon-pinterest"></i> </a> 
							</figure>
				
					</div>
				</figure>
					
			</section> *@

	
			
		</section>
	</section>

</section>
<!-- Page Content Container -->
    </div>
</div>
