@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}
<div class="page home-page">
    <div class="page-body">
        @Html.Widget("my_slider")
    <!-- Start of Features Boxes -->
	<section id="ngo_features" class="mbtm">
		<section class="container-fluid container">
		<section class="row-fluid">
			<!-- Start of Features Box 1 -->
			<figure class="span3 feature">
			<div class="ftr_img f-img-1"> 
				<span class="img"> River Floods </span>
			</div>
			<div class="ftr_txt">
			<strong> River Floods </strong>
			<p> River floods prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. </p>
			</div>
		</figure>
			<!-- End of Features Boxes 1 -->
			
			<!-- Start of Features Box 2 -->
			<figure class="span3 feature">
			<div class="ftr_img f-img-2"> 
				<span class="img"> Volcanic Eruptions </span>
			</div>
			<div class="ftr_txt">
			<strong> Volcanic Eruptions </strong>
			<p> Volcano alorum prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. </p>
			</div>
		</figure>
			<!-- End of Features Boxes 2 -->
			
			<!-- Start of Features Box 3 --> 
			<figure class="span3 feature">
			<div class="ftr_img f-img-3"> 
				<span class="img"> Thunder Storms  </span>
			</div>
			<div class="ftr_txt">
			<strong> Thunder Storms </strong>
			<p> Malorum prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. </p>
			</div>
		</figure>
			<!-- End of Features Boxes 3 -->
			
			<!-- Start of Features Box 4 -->		
			<figure class="span3 feature">
			<div class="ftr_img f-img-4"> 
				<span class="img"> Tsunami </span>
			</div>
			<div class="ftr_txt">
			<strong> Tsunami </strong>
			<p> An malorum prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. </p>
			</div>
		</figure>
 			<!-- End of Features Boxes 4 -->
	</section>
	</section>
	</section>
<!-- End of Features Boxes -->

<!-- Start of Donation Box -->
	<section id="donation_box" class="mbtm">
	<section class="container container-fluid">
		<section class="row-fluid">
		<figure class="span10">
			<h2> Sometimes it takes a <strong> natural disaster </strong> to reveal a <strong> social disaster!</strong> </h2>
		</figure>
		<figure class="span2">
			<form action="#">
				<input type="hidden" value="5.00" name="amout" />
				<input type="hidden" value="USD" name="Currency" />
				<button  data-placement="top" data-rel="tooltip" title="Support Us"  class=" btn btn-large dropdown-toggle" type="submit">Donate Now</button>
			</form>
		</figure>
		</section>
	</section>
</section>
<!-- End of Donation Box -->

<!-- Start of Charity News & Progress Section -->
	<section id="progress_news" class="mbtm">
		<section class="container-fluid container">
			<section class="row-fluid">
			
				<figure class="span6 first" id="charity_progress">
					<h3> Help Us build Charity Hospital </h3>
					<div id="charity_process_inner">
						<div class="span5 img first">
							<img src="images/progress_image.jpg" alt="Charity Hospital" />
						</div>
						<div class="span7 progress_report">
						<h2> $18,387 </h2>
						<h4> Pledged of $200,000 Goal</h4>
						      <div class="progress progress-striped active m9p">  
									<div class="bar p80"></div>  
							  </div>  
							  <br />
							  <div class="info"> 
									<div class="span6 first">
										<i class="icon-user"></i> <span> 47 </span> Pledgers
									</div>
									
									<div class="span6 ntr">
										<i class="icon-calendar-empty"></i> <span> 204 </span> Days Left
									</div>
									
							  </div>
							  
						</div>
					</div>
				</figure>

				<figure class="span6" id="news">
						
						<ul id="news_slider">
						
						<li> 
							<div class="span5 first img_holder"> 
								<div class="img">
								<img src="images/slider_2_img.jpg" alt="" /> 
								</div>
								<div class="img_title"> 
								<a href="#"> <i class="icon-plus"></i> </a>
								<a href="#"> Katrina  disasters </a> 
								<p> News about Katrina victams </p>
								</div>
							</div>
							<div class="span7 ns_desc" > 
							<a href="#" class="title"> City destroyed after devastating Katrina Floods  <span class="h-line"></span> </a> 
 							<p> News of charity campaigns lorum prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at... </p>
							<a href="#" class="rm"> View All News &nbsp;  <i class="icon-plus"></i></a>
							</div> 
						</li>

						
						<li> 
							<div class="span5 first img_holder"> 
								<div class="img">
								<img src="images/slider_2_img.jpg" alt="" /> 
								</div>
								<div class="img_title"> 
								<a href="#"> <i class="icon-plus"></i> </a>
								<a href="#"> Katrina  disasters </a> 
								<p> News about Katrina victams </p>
								</div>
							</div>
							<div class="span7 ns_desc" > 
							<a href="#" class="title"> City destroyed after devastating Katrina Floods  <span class="h-line"></span> </a> 
 							<p> News of charity campaigns lorum prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at... </p>
							<a href="#" class="rm"> View All News &nbsp;   <i class="icon-plus"></i></a>
							</div> 
						</li>
 

						</ul>
<script>
					var newslider = $('#news_slider');
        newslider.bxSlider({ minSlides: 1, maxSlides: 1, slideMargin: 18, speed: 500 });
    
</script>
				</figure>
				
			</section>
		</section>
	</section>
<!-- End of Charity News & Progress Section -->

    </div>
</div>
