@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}
<div class="page home-page">
    <div class="page-body">
        @Html.Widget("my_slider")
    <!-- Start of Features Boxes -->
	<section id="ngo_features" class="mbtm">
		<section class="container-fluid container">
		<section class="row-fluid">
			<!-- Start of Features Box 1 -->
			<figure class="span3 feature">
			<div class="ftr_img f-img-1"> 
				<span class="img"> River Floods </span>
			</div>
			<div class="ftr_txt">
			<strong> River Floods </strong>
			<p> River floods prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. </p>
			</div>
		</figure>
			<!-- End of Features Boxes 1 -->
			
			<!-- Start of Features Box 2 -->
			<figure class="span3 feature">
			<div class="ftr_img f-img-2"> 
				<span class="img"> Volcanic Eruptions </span>
			</div>
			<div class="ftr_txt">
			<strong> Volcanic Eruptions </strong>
			<p> Volcano alorum prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. </p>
			</div>
		</figure>
			<!-- End of Features Boxes 2 -->
			
			<!-- Start of Features Box 3 --> 
			<figure class="span3 feature">
			<div class="ftr_img f-img-3"> 
				<span class="img"> Thunder Storms  </span>
			</div>
			<div class="ftr_txt">
			<strong> Thunder Storms </strong>
			<p> Malorum prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. </p>
			</div>
		</figure>
			<!-- End of Features Boxes 3 -->
			
			<!-- Start of Features Box 4 -->		
			<figure class="span3 feature">
			<div class="ftr_img f-img-4"> 
				<span class="img"> Tsunami </span>
			</div>
			<div class="ftr_txt">
			<strong> Tsunami </strong>
			<p> An malorum prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. </p>
			</div>
		</figure>
 			<!-- End of Features Boxes 4 -->
	</section>
	</section>
	</section>
<!-- End of Features Boxes -->

<!-- Start of Donation Box -->
	<section id="donation_box" class="mbtm">
	<section class="container container-fluid">
		<section class="row-fluid">
		<figure class="span10">
			<h2> We understand this<strong> is personal </strong> and <strong> we care!</strong> </h2>
		</figure>
		@*<figure class="span2">
			<form action="#">
				<input type="hidden" value="5.00" name="amout" />
				<input type="hidden" value="USD" name="Currency" />
				<button  data-placement="top" data-rel="tooltip" title="Support Us"  class=" btn btn-large dropdown-toggle" type="submit">Donate Now</button>
			</form>
		</figure>*@
		</section>
	</section>
</section>
<!-- End of Donation Box -->
    </div>
</div>
