@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Common;

<!-- Start of Footer -->
	<footer id="footer" class="mtp footer">
	

	
	<!-- Start of Footer 2 -->
		<section class="footer_2">
		<section class="container-fluid container">
			<section class="row-fluid">
						<figure class="span6 footer_left">  <i class="icon-mobile-phone"></i> <span> +00 71 900 34 45 </span> <i class="icon-envelope-alt"></i> <span> contact@companyname.com  </span>  </figure>
						<figure class="span6 footer_right">
						<div id="socialicons"> 
 							<a data-placement="top" data-rel="tooltip" title="Join us on Facebook" id="social_facebook" class="social_active" href="#" >		<span>	</span></a> 
							<a data-placement="top" data-rel="tooltip" title="Follow us on Twitter" id="social_twitter" class="social_active" href="#"  >	<span>	</span></a> 
							<a data-placement="top" data-rel="tooltip" title="Visit LinkedIn Page" id="social_linkedin" class="social_active" href="#"  >	<span>	</span></a> 
							<a data-placement="top" data-rel="tooltip" title="Browse Flicker Gallery" id="social_flickr" class="social_active" href="#" >	<span>	</span></a> 
							<a data-placement="top" data-rel="tooltip" title="Check us on Forst " id="social_forst" class="social_active" href="#"  >		<span>	</span></a> 
							<a data-placement="top" data-rel="tooltip" title="View Viemeo Video Collection" id="social_vimeo" class="social_active" >		<span>	</span></a> 
							<a data-placement="top" data-rel="tooltip" title="Pin Us" id="social_pinterest" class="social_active" href="#" >					<span></span>	</a> 
							<a data-placement="top" data-rel="tooltip" title="Join our Social Circle" id="social_google_plus" class="social_active"  >		<span>	</span></a> 
							<a data-placement="top" data-rel="tooltip" title="Watch Our Broadcasting" id="social_youtube" class="social_active" href="#">	<span>	</span></a> 
						</div>
						</figure>
 
			</section>
		</section>
	</section>
	<!-- End of Footer 2 -->
	
	<!-- Start of Footer 3 -->
		<section class="footer_3">
		<section class="container-fluid container">
			<section class="row-fluid">
			
			<figure class="span6 footer_left">

				<ul class="footer_nav"> 
				<li> <a href="index.html">	Home 		</a> </li>
				<li> <a href="shortcodes.html"> 	Features	</a> </li>
				<li> <a href="blog.html"> 	Blog 		</a> </li>
				<li> <a href="shortcodes.html"> 	Portfolio	</a> </li>
				<li> <a href="contact_us.html"> 	Contact		</a> </li>
				</ul>
				<p> Copyright © 2013 - Be Human by <a href="http://www.crunchpress.com"> crunchpress.com </a></p>
				
				</figure>
			
			<figure class="span6 footer_right">

					<div id="tweets" class="latest_tweets">
							<ul id="latest_tweets">
								<li> Have a look at new theme of crunchpress at <a href="http://www.themeforest.net/user/crunchpress"> http://bit.ly/ju89ytg </a> - we've added new great stuff and refreshed the theme!</li>
							</ul>
					</div>

			</figure>
			</section>
		</section>
	</section>
	<!-- End of Footer 3 -->
	
	</footer>
<!-- End of Footer -->