@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Common;

<!-- Start of Footer -->
	<footer id="footer" class="mtp footer">
	

	
	<!-- Start of Footer 2 -->
		<section class="footer_2">
		<section class="container-fluid container">
			<section class="row-fluid">
						<figure class="span6 footer_left">  <i class="icon-mobile-phone"></i> <span> (407) 557-2029 </span> <i class="icon-envelope-alt"></i> <span> info@myfertilitypharmacy.com  </span>  </figure>
						@*<figure class="span6 footer_right">
						<div id="socialicons"> 
 							<a data-placement="top" data-rel="tooltip" title="Join us on Facebook" id="social_facebook" class="social_active" href="#" >		<span>	</span></a> 
							<a data-placement="top" data-rel="tooltip" title="Follow us on Twitter" id="social_twitter" class="social_active" href="#"  >	<span>	</span></a> 
							<a data-placement="top" data-rel="tooltip" title="Visit LinkedIn Page" id="social_linkedin" class="social_active" href="#"  >	<span>	</span></a> 
							<a data-placement="top" data-rel="tooltip" title="Browse Flicker Gallery" id="social_flickr" class="social_active" href="#" >	<span>	</span></a> 
							<a data-placement="top" data-rel="tooltip" title="Check us on Forst " id="social_forst" class="social_active" href="#"  >		<span>	</span></a> 
							<a data-placement="top" data-rel="tooltip" title="View Viemeo Video Collection" id="social_vimeo" class="social_active" >		<span>	</span></a> 
							<a data-placement="top" data-rel="tooltip" title="Pin Us" id="social_pinterest" class="social_active" href="#" >					<span></span>	</a> 
							<a data-placement="top" data-rel="tooltip" title="Join our Social Circle" id="social_google_plus" class="social_active"  >		<span>	</span></a> 
							<a data-placement="top" data-rel="tooltip" title="Watch Our Broadcasting" id="social_youtube" class="social_active" href="#">	<span>	</span></a> 
						</div>
						</figure>*@
 
			</section>
		</section>
	</section>
	<!-- End of Footer 2 -->
	
	<!-- Start of Footer 3 -->
		<section class="footer_3">
		<section class="container-fluid container">
			<section class="row-fluid">
			
			<figure class="span4 footer_left">
                &nbsp;
				</figure>
			
			<figure class="span4">
                <p style="vertical-align: middle;"> Copyright © 2014 <a href="http://www.myfertilitypharmacy.com/">Fertility Pharmacy</a></p>
			</figure>

                <figure class="span4 footer_right">
                    &nbsp;
                </figure>
			</section>
		</section>
	</section>
	<!-- End of Footer 3 -->
	
	</footer>
<!-- End of Footer -->